.details-page .page-content {
  padding: 0;
}

.tab-bar .tab-link-active {
  border-bottom: 2px solid var(--color-primary)
}

.tab-bar-skin {
  background-color: inherit;
}

.tab-bar .tab-link-highlight { /* fix f7 forgot to put bottom */
  bottom: 0;
}

.tab-info {
  padding: 0.5rem 0.5rem 0.5rem 0;
}
