.header-group {
    color: var(--color-primary);
    display: flex;
    align-items: center;
    margin: 1rem 0 3rem 0;
}

.list .item-content {
    padding: 0;
}

.list .item-inner {
    padding: 0.3rem 0;
}

.header {
    margin: 0;
    padding: 0;
}

.login-form.list {
    margin: 0.3rem 0;
}

.visibility-icon {
    color: var(--color-border-grey) !important;
    position: absolute;
    top: 0.5rem;
    right: 0.3rem;
}

.visibility-icon:active {
    color: var(--color-grey-3) !important;
}

.bottom-group {
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: 3rem;
}

.terms-text {
    color: var(--color-grey-3);
    font-size: 0.9rem;
    margin-bottom: 1rem;
}

.terms-link {
    text-decoration: underline;
}

.modal-sheet {
    height: 90%;
}

.error-message {
    font-size: 0.7rem;
    color: red;
}

.text-minor {
    font-size: 1rem;
    font-weight: 600;
    color: var(--color-grey-3);
    text-align:center;
}

.center-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.2rem;
}

.logo-mark {
    height: 4rem;
}