.toil-card {
    width: calc(50% - 0.5rem);
    border-radius: 1rem;
    margin-bottom: 1rem;
    box-sizing: border-box;
    
    border-width: 0.05rem;
    border-style: solid;
    border-color: var(--color-border-grey);
}