@import "../index.css";

.float {
    position: fixed;
	bottom: 30px;
	right: 30px;
}

.btn-style {
    background-color: var(--color-white);
    border: none;
    color: var(--color-primary);
    text-transform: none;
    padding: 20px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-text {
    font-size: 16px;
    margin-left: 5px;
}