.list-page {
  padding: 10px 5%;
}

.searchBar-container {
  margin: 30px 0px 10px 0px;
  display: flex;
  justify-content: center;
}

.title-container {
  text-align: center;
  margin-bottom: 10px;
}

#toilet-list {
  display: flex;
  margin-left: -10px
}

.my-masonry-grid_column {
  padding-left: 10px; /* gutter size */
  background-clip: padding-box;
}

.my-masonry-grid_column > .card {
  width: 90%;
  margin: 0 auto 10px auto;
}
