.edit-profile-page .page-content {
  padding: 0;
}

.edit-profile-profile-picture {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  position: relative;
}

.edit-profile-edit-btn-section {
  position: absolute;
  bottom: -5px;
  right: -5px;
}

.edit-profile-edit-btn {
  border-radius: 50%;
  width: 35px;
  height: 35px;
}

.edit-profile-file-input {
  display: none;
}