.rating-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 0.9rem;
    font-weight: 500;
}

.stars {
    display: inline-flex;
    justify-content: space-between;
    padding: 0 0.3rem;
    font-size: inherit;
}

.rating-text {
    color: #acacac;
}

.star-filled {
    font-size: inherit !important;
    color: var(--color-secondary);
}

.star-empty {
    font-size: inherit !important;
    color: var(--color-border-grey);
}

.rating-container.mini .rating-text {
    display: none;
}

.rating-container.mini .stars {
    padding: 0;
}