@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Work+Sans:ital,wght@0,600;0,700;1,500&display=swap');

body {
    margin: 0;
    font-family: "Inter", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

:root {
    --color-primary: #0078FA;
    --color-primary-darker: #000D3C;
    --color-primary-lighter: #B2D5F9;
    --color-secondary: #FFBA00;
    --color-accent: #31D1D1;
    --color-off-white: #E4E9F2;
    --color-white: #FFFFFF;
    --color-border-grey: #D6D6D6;
    --color-grey-3: #828282;
    --color-green-primary: #219653;
    --color-green-secondary: #27AE60;
    --color-red: #EB5757;
}

h2 {
    margin: 0;
    font-family: "Work Sans";
    font-weight: 600;
    font-size: 1.6rem;
    letter-spacing: -0.03em;
}

h3 {
    margin: 0;
    font-family: "Inter";
    font-weight: 600;
    font-size: 1.3rem;
}