.mapview {
    width: 100%;
    height: 100vh;
    position: absolute;
}

.map-search-overlay {
    position: absolute;
    z-index: 10002;
    top: 2rem;
    left: 1rem;
    right: 1rem;
}

.bottom-sheet {
    width: 100%;
    height: 100vh;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    z-index: 10000;

    box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.1);

    transition: all 0.4s ease-in-out;
}

.bottom-sheet.bs-opened {
    border-top-left-radius: 0rem;
    border-top-right-radius: 0rem;
}

.bottom-sheet.bs-opened .bottom-sheet-top {
    padding: 0;
    height: 0;
}

.bottom-sheet.bs-opened .bottom-sheet-top .handle {
    transform: scaleX(10);
    background-color: white;
}

.bottom-sheet.bs-opened .bottom-sheet-top .buildings {
    margin-top: 0;
    height: 0;
}

.bottom-sheet.bs-opened .bottom-sheet-content .page-content {
    padding-top: 7rem;
}

.bottom-sheet-top {
    height: 17rem;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0 0 1rem 0;

    transition: all 0.2s ease-in-out;
}

.bottom-sheet-top .handle {
    width: 4rem;
    height: 0.3rem;
    border-radius: 2rem;
    align-self: center;

    margin: 0.8rem 0;

    background-color: var(--color-primary-lighter);
    transition: all 0.2s ease-in-out;
}

.bottom-sheet-top h2 {
    text-align: center;
}

.buildings {
    height: 10rem;
    margin-top: 1rem;

    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 0rem;
    grid-auto-columns: 10rem;
    grid-auto-flow: column;

    overflow-x: scroll;
    scroll-snap-type: x proximity;

    transform: scale(1);
    transform-origin: top left;
    transition: all 0.2s ease-in-out;
}

.buildings::before {
    content: "";
}

.buildings::after {
    content: "";
    width: 0.1rem;
}

.bottom-sheet-content {
    position: relative;
    background-color: white;
    overflow-y: scroll;
    height: 100%;
}

.bottom-sheet-content .page-content {
    padding-top: 0rem;
    transition: all 0.2s ease-in-out;
}

.cards {
    padding: 0 1rem;
}

.cards-gutter {
    width: 1rem;
}

.open-bottom-sheet {
    position: absolute;
    z-index: 13;
    bottom: 1rem;
    left: 50%;
    transform: translate(-50%, 0) !important;
    font-family: "Inter";
    font-weight: 600;
    text-transform: none;
    font-size: 1rem;
    padding: 0 1rem;
}

.open-bottom-sheet.hidden {
    bottom: -5rem;
}

.open-bottom-sheet .icon {
    font-size: 1.4rem;
    margin-right: 0.5rem;
}

.my-location {
    position: absolute;
    z-index: 9;
    width: 3.6rem;
    height: 3.6rem;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-grey-3);
    bottom: 18rem;
    right: 1rem;
}

.my-location.location-found {
    color: var(--color-primary);
}

.my-location.bottom {
    bottom: 1rem;
}